.locationicon {
    border: none;
    color: #010740;
    background-color: transparent;
    text-align: right;
    padding: 0 0 0 77%;
}
  
Form {
    max-width: 700px;
    margin: 10px auto;
    padding: 20px 50px;
    border-radius: 8px;
    font-family: 'Cantarell', sans-serif;
    margin-bottom: 10px;
    text-shadow: grey;
    opacity: 50%;
    position: relative
  }
  
  input {
    width: 100%;
    color: black;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: 1px solid rgb(0, 92, 179)
  }
  
  select {
    width: 100%;
    color: black;
    padding: 9px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: 1px solid rgb(0, 92, 179)
  }
  
  button {
    display:inline-block;
    padding:0.2em 1.45em;
    margin:0.1em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    text-align:center;
    position:relative;
    border: 1px solid rgb(0, 92, 179);
    background-color: transparent;
  }
  
  h1{
    font-family: 'Satisfy', cursive;
    padding-top: 2%
  }  

  .addbr{
    box-shadow: 3px 5px 8px rgb(188, 223, 255);
    margin-top: 6%
  }
  .imageinput {
      outline: none;
      margin-top: 0;
  }
  